body{
    border: 5%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
   /* table {
        
         border-collapse: collapse;
        border: 1px solid black;
        width: 90%;
      }
      td, th {
        border: 1% solid #000000;
        padding: -5%;
          font-size: 150%;
        text-align: left;
        min-width: 1%;
      
      }
      td[contenteditable="true"] {
        border: 1px solid black;
        background-color: #f9f9f9;
        
}}*/
}
body h3{
font-size: 200%;
text-align: center;
text-shadow: 10px black;
font-family: 'Times New Roman', Times, serif;
color: #f8c600;
}
body iframe{
  font-size: 20%;
}
