.centre{
    padding: 10%;
    padding-top: -8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}
/*.what{
    float: none;
    padding-left: 500px;
    padding-top: -600px;
}*/
